.speech{
    font: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color : black;
}

.direction{
    font: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color : black;
    background-color: lightcoral;

}

.name:hover {
    color :mediumturquoise;
    text-shadow: 5px 5px 8px brown;
    border: 2em;

}

.direction:hover {
    background-color: blue;
    color:aquamarine;
}

.hilda{
    color :chocolate;
}

.solness{
    color :blueviolet;
}



table {
    border: 3px solid greenyellow;
    margin : 5px;
    padding:  2em 1em ;
    text-align: left;
    color:coral;   
  }

  tr:nth-child(odd) {background-color: orange;}

  
 